/* ----Varibales---- */
:root {
    --sm:16px;
    --md:18px;
    --lg:22px;
    --h1:26px;
    --bg-nav:#B09B71;
    --bg-carrito:#b09b7173;
    --color-title:#1d1a16;
    --color-hero: #ffffff;
    --color-hero2: #bbbbbb;
    --border:#9e9e9e;
}

/* ----Estilos Generales---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.botones {
    text-decoration: none;
    border: 1px solid var(--border);
    background-color: black;
    color: var(--color-hero2);
    padding: 4px 8px;
} 

/* ----Header---- */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--bg-nav);
}
header nav .navIzquierdo {
    text-align: center;
}
header nav .navIzquierdo h6 {
    font-size: calc(var(--sm) - 2px);
    font-weight: 300;
}
header nav .navIzquierdo h3{
    margin-top: 8px;
    font-size: var(--md);
    font-weight: bold;
}
header nav .navDerecho ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
header nav .navDerecho ul li{
    list-style: none;
    margin: 0 12px;
    font-size: var(--sm);
    transition: 5s;
}
header nav .navDerecho ul li:hover{
    border-bottom: 1px solid var(--border);
}
header nav .navDerecho ul li:nth-child(4){
    border: none;
    transition: 2s;
}
header nav .navDerecho ul li:nth-child(4):hover{
    transform: scale(1.2);
}
header nav .navDerecho ul li a{
    text-decoration: none;
    color: var(--color-title);
}
header nav .navDerecho ul li img{
    cursor: pointer;
}
header nav .navDerecho .carritoUsuario{
    width: 350px;
    height: auto;
    background-color: var(--color-hero);
    border: 1px solid var(--border);
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: 1;
}
header nav .navDerecho .carritoUsuario .itemCarro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 8px 12px;
}
header nav .navDerecho .carritoUsuario .itemCarro h5 {
    font-size: var(--sm);
    font-weight: bold;
    width: 50%;
    margin: 0;
}
header nav .navDerecho .carritoUsuario .itemCarro p:nth-child(0){
    width: 20%;
    font-size: var(--sm);
    margin: 0;
    display: flex;
    justify-content: center;
}
header nav .navDerecho .carritoUsuario .itemCarro p:nth-child(1){
    width: 30%;
    font-size: var(--sm);
    color: var(--color-title);
    margin: 0;
}
header nav .navDerecho .carritoUsuario .subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
header nav .navDerecho .carritoUsuario .subtotal h5{
    font-size: var(--md);
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
header nav .navDerecho .carritoUsuario .subtotal p{
    font-size: var(--md);
    margin: 0;
    font-style: italic;
}
header nav .navDerecho .carritoUsuario .contenedorBtn{
    text-align: center;
    margin: 12px 0;
}
header nav .navDerecho .inactivo{
    display: none;
}

/* ----Main - Pagina Index---- */
.contenidoPrincipal .hero {
    height: calc(100vh - 70px);
    width: 100%;
    background-image: url('https://images.pexels.com/photos/3734025/pexels-photo-3734025.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenidoPrincipal .hero h1 {
    font-size: var(--h1);
    color: var(--color-hero);
}
.contenidoPrincipal .hero p {
    font-size: var(--md);
    font-style: italic;
    color: var(--color-hero);
    margin-top: 24px;
    margin-bottom: 50px;
    font-weight: 300;
}
.contenidoPrincipal .bienvenidos, .nosotros {
    width: 80%;
    margin: 0 auto;
}
.contenidoPrincipal .bienvenidos div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contenidoPrincipal .bienvenidos div img,
.nosotros div img{
    width: 350px;
    height: 450px;
    object-fit: cover;
}
.contenidoPrincipal .bienvenidos div div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 60px;
}
.contenidoPrincipal .bienvenidos div div h3,
.nosotros div div h3 {
    font-size: var(--lg);
    margin-bottom: 8px;
}
.contenidoPrincipal .nosotros div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.contenidoPrincipal .nosotros div div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 60px;
}

/* ----Main - Pagina Productos---- */
.carrusel div div div img {
    height: 60vh;
    width: 100%;
    object-fit:cover;
}
.productos .filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.productos .filtros h3{
    font-size: var(--lg);
    font-weight: bold
}
.productos .filtros .categorias{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}
.productos .filtros .categorias div{
    width: 150px;
    height: 200px;
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: start;
    transition: 0.5s;
}
.productos .filtros .categorias div:hover{
    box-shadow: 8px 8px 25px black;
}
.productos .filtros .categorias div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative ;
}
.productos .filtros .categorias div h3{
    font-size: var(--md);
    color: var(--color-hero2);
    background-color: #0808086e;
    position: absolute;
    margin-top: 8px;
}
.productos .renderProductos {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}
.productos .renderProductos div{
    margin: 20px 16px;
    width: 150px;
    height: auto;
    overflow: hidden;
}
.productos .renderProductos div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.productos .renderProductos div p {
    font-size: calc(var(--sm) - 2px);
    font-style: italic
}
.productos .renderProductos div p:nth-child(2){
    height: 42px;
    border-bottom: 1px solid black;
}
.productos .renderProductos div button{
    width: 100%;
    margin: 0;
    transition: 0.5s;
}
.productos .renderProductos div button:hover{
    /* color: rgb(187, 79, 106); */
    color: var(--bg-nav);
}
/* ----Footer---- */
footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,93,9,1) 55%, rgba(196,173,17,1) 87%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer ul:nth-child(1){
    margin: 0;
    margin-top: 8px;
}
footer ul:nth-child(1) li{
    list-style: none;
    color: var(--color-hero2);
    padding-left: 20px;
    margin-bottom: 8px;

}
footer ul:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer ul:nth-child(2) li{
    list-style: none;
}
footer iframe {
    margin-right: 20px;
}